<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="student123" class="com.mf.spring01.Student" >
        <property name="id" value="123"/>
        <property name="name" value="zp"/>
        <property name="beanName" value="cmm"/>
    </bean>
    <bean id="student100" class="com.mf.spring01.Student" init-method="init" destroy-method="destroy">
        <property name="id" value="100"/>
        <property name="name" value="cmm"/>
    </bean>

    <bean id="zClass" class="com.mf.spring01.ZClass">
        <property name="students">
            <list>
                <ref bean="student100"/>
                <ref bean="student123"/>
            </list>
        </property>
    </bean>
    <bean id="school" class="com.mf.spring01.School"/>

    <bean id="aop1" class="com.mf.spring01.Aop1"/>
    <context:component-scan base-package="com.mf" />

    <aop:aspectj-autoproxy />

    <aop:config>
        <aop:pointcut id="p1" expression="execution(* com.mf.aop.*.*(..))"/>
        <aop:aspect ref="aop1">
            <aop:around method="around" pointcut-ref="p1"/>
            <aop:before method="startTransaction" pointcut-ref="p1"/>
            <aop:after method="commitTransaction" pointcut-ref="p1"/>
        </aop:aspect>
    </aop:config>

</beans>